.notification p {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #00151a;
}

.notification {
  background: #e6f2f5;
}

.notification table {
  width: 100%;
}

.notification .td {
  padding-bottom: 15px;
  padding-top: 10px;
  padding-left: 20px;
}

.notification table,
.notification table td {
  padding: 0;
  margin: 0;
}

.dn {
  width: 70%;
  text-align: left;
  border-bottom: 1px solid rgba(176, 215, 223, 0.5);
}

.notification .pb {
  padding-bottom: 25px;
}

.notification .rightT {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 25px;
  white-space: nowrap;
  border-bottom: 1px solid rgba(176, 215, 223, 0.5);
}

@media screen and (max-width: 1000px) {
  .notification .rightT {
    white-space: normal;
  }

  .notification .toggleTxt,
  .notification .rightT {
    font-size: 14px;
  }
}
