.register-container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
}

.password-box {
  display: flex;
  flex-direction: column;
}

.password-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 25%;
}

.confirmpassword-content {
  margin-left: 6px;
  width: 50%;
}

.Password-characters {
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #808c8f;
}
