/* -----------------plan div style---------------- */
.plan-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;

}

.plan-div h1 {

    font-weight: 700;
    font-size: 50px;
    line-height: 77px;
    color: #00191F;
}

.plan-div p {
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: #00191F;
    width: 70%;
}

.plan-div a {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-decoration-line: underline;
    color: #1D79E5;
    padding-top: 5px;
}

/* ---------------------- 1st card style------------------- */
.card-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.card-div {
    max-width: 340px;
    height: 800px;
    background: #FFFFFF;
    border: 1px solid #AAD4DD;
    box-shadow: 0px 4.65954px 4.65954px 5.82442px rgba(208, 223, 232, 0.15), 0px 4.65954px 4.65954px rgba(208, 223, 232, 0.12), 0px 4.65954px 4.65954px rgba(208, 223, 232, 0.09), 0px 4.65954px 4.65954px rgba(208, 223, 232, 0.06), 0px 4.65954px 4.65954px rgba(208, 223, 232, 0.03);
    border-radius: 17.4733px;
    padding: 10px 30px;
    margin-top: 40px;
}

.free-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 5px;
    gap: 10px;
    width: 100%;
    height: 295px;
    background: #FFFFFF;
    border-radius: 11.6488px 11.6488px 0px 0px;

}

.free-card h2 {

    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    color: #24292F;
    text-align: center;
}

.free-card p {

    font-weight: 300;
    font-size: 18.6381px;
    line-height: 22px;
    width: 220px;
    text-align: center;
    color: #24292F;
}

.price-div {
    font-family: 'Azeret Mono', monospace;
    display: flex;
    align-items: center;
    gap: 10px;


}

.dollar {

    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    padding-bottom: 15px;
    color: #24292F;


}

.price-div .zero {
    font-weight: 400;
    font-size: 60px;
    line-height: 67px;
    text-align: center;
    color: #24292F;
    padding-left: 10px;
}

.time-div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.time-div span {
    font-family: 'Urbanist';
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    /* padding-left: 10px; */
    color: #24292F;
}

.join-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 10px;
    width: 100%;
    background-color: white;
    height: 54px;
    border: 2px solid #006980;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18.6381px;
    line-height: 22px;
    text-align: center;
    color: #007E99;
}

.join-btn:hover {
    background-color: #007E99;
    cursor: pointer;
    color: #E6F2F5;
}

.card-features ul {
    width: 100%;
    /* list-style-image: url( "C:/Users/FEMI/Desktop/Royas-React-Project/react-project-loanwise/src/Assets/Vector.svg"); */
    padding-inline-start: 3ch;
}

.card-features ul li {
    list-style-type: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    padding: 3px 0px;


    color: #00191F;
    margin-top: 10px;

}

.premium-card {
    background: #007E99;
    border-radius: 17.4733px;
    width: 358px;
    height: 830px;
    position: relative;
    margin-top: 30px;
}

.premium-card-div {
    position: absolute;
    left: 8px;
    top: 0px;
    background: #E6F2F5;
    position: relative;
    padding: 1px 7px;
    margin-top: 20px;

}

.premium {
    width: 100%;

    height: 283.43px;
    /* border-radius: 17.4733px; */
    padding-top: 10px;

}

.premium p {
    width: 230px;
    font-weight: 500px;
}

.premium-price-div {
    margin-left: -25px;
    display: flex;
    align-items: center;
    gap: 2px;
}

.premium-dollar {
    color: #999DA4;
    font-weight: 400;
    padding-left: 10px;
}

.premium-price-ash {

    font-weight: 400;
    font-size: 32px;
    line-height: 30px;
    text-align: center;
    text-decoration: line-through;

    color: #999DA4;
}

.premium-dollar-black {
    padding-left: 5px;
}

.premium-price-black {

    font-weight: 500;
    font-size: 53px;
    line-height: 90px;
    text-align: center;

}

.premium-time span {

    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 1px;
    color: #24292F;

}

.started-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15.1435px 30.287px;
    gap: 11.65px;
    width: 220.27px;
    height: 52.29px;
    background: #007E99;
    border: 1px solid #006980;
    border-radius: 5.82442px;
    font-family: 'Urbanist';

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.started-btn:hover {
    background-color: #00191F;
}

.trial-btn-div {
    display: flex;
    gap: 6px;
}

.free-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    gap: 11.65px;
    width: 120px;
    height: 40.29px;
    background: #007E99;
    border: 1px solid #006980;
    border-radius: 5.82442px;

    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.free-btn:hover {
    cursor: pointer;
    background-color: #006980;

}

.contact-btn {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    gap: 10px;
    width: 120px;
    height: 40.29px;
    background-color: white;
    border: 2px solid #006980;
    border-radius: 5px;

    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    color: #007E99;
    cursor: pointer;
}

.contact-btn:hover {
    background-color: #007E99;
    color: #FFFFFF;
}

.pricing-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 70px;

}

.pricing-content h2 {

    font-weight: 700;
    font-size: 50px;
    line-height: 73px;
    text-align: center;
    color: #00151A;
}

.pricing-content p {

    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    width: 800px;
    color: #55666A;
}


/* -----------container style----------------------- */
.pricing-container {
    padding: 0px 80px;
}

/* -----------------plan div style---------------- */
.plan-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;

}

.plan-div h1 {

    font-weight: 700;
    font-size: 50px;
    line-height: 77px;
    color: #00191F;
}

.plan-div p {

    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    width: 570px;
    color: #00191F;
}

.plan-div a {

    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-decoration-line: underline;
    color: #1D79E5;
    padding-top: 5px;
}

/* ---------------------- 1st card style------------------- */
.card-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.card-div {
    width: 340px;
    height: 800px;
    background: #FFFFFF;
    border: 1px solid #AAD4DD;
    box-shadow: 0px 4.65954px 4.65954px 5.82442px rgba(208, 223, 232, 0.15), 0px 4.65954px 4.65954px rgba(208, 223, 232, 0.12), 0px 4.65954px 4.65954px rgba(208, 223, 232, 0.09), 0px 4.65954px 4.65954px rgba(208, 223, 232, 0.06), 0px 4.65954px 4.65954px rgba(208, 223, 232, 0.03);
    border-radius: 17.4733px;
    padding: 10px 30px;
    margin-top: 40px;
}

.free-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 5px;
    gap: 10px;
    width: 100%;
    height: 295px;
    background: #FFFFFF;
    border-radius: 11.6488px 11.6488px 0px 0px;

}

.free-card h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    color: #24292F;
    text-align: center;
}

.free-card p {
    font-weight: 300;
    font-size: 18.6381px;
    line-height: 22px;
    width: 220px;
    text-align: center;
    color: #24292F;
}

.price-div {
    font-family: 'Azeret Mono', monospace;
    display: flex;
    align-items: center;
    gap: 10px;
}

.dollar {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    padding-bottom: 15px;
    color: #24292F;
}

.price-div .zero {
    font-weight: 400;
    font-size: 60px;
    line-height: 67px;
    text-align: center;
    color: #24292F;
    padding-left: 10px;
}

.time-div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.time-div span {
    font-family: 'Urbanist';
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    /* padding-left: 10px; */
    color: #24292F;
}

.join-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 10px;
    width: 100%;
    background-color: white;
    height: 54px;
    border: 2px solid #006980;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18.6381px;
    line-height: 22px;
    text-align: center;
    color: #007E99;
}

.card-features ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* list-style-image: url("C:/Users/FEMI/Desktop/Royas-React-Project/react-project-loanwise/src/Assets/Vector.svg"); */
    padding-inline-start: 3ch;


}

.card-features ul li {
    list-style-type: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    padding: 3px 0px;
    color: #00191F;
    margin-top: 10px;

}

.premium-card {
    background: #007E99;
    border-radius: 17.4733px;
    width: 358px;
    height: 830px;
    position: relative;
    margin-top: 30px;
}

.premium-card-div {
    position: absolute;
    left: 8px;
    top: 0px;
    background: #E6F2F5;
    position: relative;
    padding: 1px 7px;
    margin-top: 20px;

}

.premium {
    width: 100%;
    height: 283.43px;
    /* border-radius: 17.4733px; */
    padding-top: 10px;

}

.premium p {
    width: 230px;
    font-weight: 500px;
}

.premium-price-div {
    margin-left: -25px;
    display: flex;
    align-items: center;
    gap: 2px;
}

.premium-dollar {
    color: #999DA4;
    font-weight: 400;
    padding-left: 10px;
}

.premium-price-ash {

    font-weight: 400;
    font-size: 32px;
    line-height: 30px;
    text-align: center;
    text-decoration: line-through;

    color: #999DA4;
}

.premium-dollar-black {
    padding-left: 5px;
}

.premium-price-black {

    font-weight: 500;
    font-size: 53px;
    line-height: 90px;
    text-align: center;

}

.premium-time span {

    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 1px;
    color: #24292F;

}

.started-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15.1435px 30.287px;
    gap: 11.65px;
    width: 220.27px;
    height: 52.29px;
    background: #007E99;
    border: 1px solid #006980;
    border-radius: 5.82442px;
    font-family: 'Urbanist';

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.trial-btn-div {
    display: flex;
    gap: 6px;
}

.free-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    gap: 11.65px;
    width: 120px;
    height: 40.29px;
    background: #007E99;
    border: 1px solid #006980;
    border-radius: 5.82442px;

    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.contact-btn {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    gap: 10px;
    width: 120px;
    height: 40.29px;
    background-color: white;
    border: 2px solid #006980;
    border-radius: 5px;

    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    color: #007E99;
    cursor: pointer;
}

.pricing-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 70px;

}

.pricing-content h2 {

    font-weight: 700;
    font-size: 50px;
    line-height: 73px;
    text-align: center;
    color: #00151A;
}

.pricing-content p {

    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    width: 800px;
    color: #55666A;
}

/* -------------Frequent Question Section----------------- */
.frequent-question {
    margin: 30px 0px;
}


.frequent-div {
    color: #00191F;
    text-align: center;
}

.frequent-div h2 {
    font-weight: 700;
    font-size: 35px;
    line-height: 77px;
}

.frequent-div p {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
}

/* -----------------Accordion wrapper----------- */
.List-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFFFFF;
}

.List-container h2 {
    font-weight: 500;
    font-size: 30px;
    color: #1E1E1C;
}

/* -------accordion------- */
.Accordion {
    margin-top: 20px;
}

.item {

    padding: 20px 0px;
    /* width: 100%; */
    border-top: 1px solid #ccd1d2;
}

.title {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
}

.content {
    max-height: 0px;
    overflow: hidden;
}

.content-show {
    height: auto;
    max-height: 90%;
    margin-top: 10px;


}


---------useLoanwise--------- .Useloanwise {
    margin: 100px 0px;
}

/* -------------footer------------ */
.footer {
    margin-top: 50px;
}

@media (max-width: 768px) {
    .plan-div h1 {
        font-size: 35px;
    }

    .plan-div p {
        font-size: 1.2rem;
        width: 100%;
    }

    .card-wrapper {
        flex-direction: column;
    }

    .card-div {
        width: 90%;
    }

    .frequent-div h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .frequent-div p {
        font-size: 16px;
    }

    .List-container h2 {
        font-size: 23px;
        margin-top: 20px;
    }
}