/* ------------------ */
/* General */
/* ------------------ */

form,
h1,
p {
  padding: 0;
  margin: 0;
}

.right-side .form-title {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 25px;
}

.right-side .form-title h1 {
  font-weight: 600;
  font-size: 50px;
}

.right-side label {
  display: block;
  margin-bottom: 3px;
  font-weight: 600;
  color: #00191f;
}

.right-side fieldset {
  margin-bottom: 15px;
  padding: 0;
}

.right-side input[type="text"],
.right-side input[type="password"],
.right-side input[type="email"],
.securityQxn fieldset input,
.select input {
  background: #ffffff;
  border: 1.1px solid rgb(203, 203, 203);
  border-radius: 5px;
  width: 100%;
  padding: 8px 0 8px 1rem;
  outline: none;
  color: black;
  &&::placeholder {
    font-size: 13px;
  }
}

.right-side input[type="checkbox"] {
  background: var(--primary-bg);
  border-color: 2px solid var(--primary-bg);
  border-radius: 4px;
  cursor: pointer;
}

.select {
  padding: 0;
  margin-bottom: 5px;
}

.right-side input::placeholder {
  font-size: 14px;
  font-style: italic;
  line-height: 17px;
  color: #9d9d9d;
}

.formFooter {
  text-align: center;
}

.passwordContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.passwordContainer fieldset:first-child .errorMessage {
  display: none;
}

.passwordContainer fieldset {
  margin-bottom: 0;
}

.right-side fieldset {
  border: none;
  width: 100%;
}

.inputField {
  display: flex;
  background: #ffffff;
  width: 100%;
  border: 1.1px solid #cbcbcb;
  border-radius: 5px;
  padding-right: 10px;
}

.right-side .inputField input {
  margin-bottom: 0;
  border: none;
  flex: 1;
  color: 'black';
  &&::placeholder {
    font-size: 13px;
  }
}

.inputField button {
  border: none;
  background: none;
  flex: 0.05;
  cursor: pointer;
}

.passwordContainer input {
  width: 100%;
}

.right-side .form-btn button {
  margin-top: 20px;
}

.right-side .errorMessage {
  font-style: italic;
  font-size: 13px;
  color: red;
}

.terms-and-conditions {
  /* text-align: right; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}

.terms-and-conditions input {
  width: 15px;
  margin: 0 3px 0 0;
  cursor: pointer;
}

.terms-and-conditions label {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  cursor: pointer;
}

.checkForgot {
  display: flex;
  justify-content: space-between;
}

.checkText {
  display: flex;
  align-items: center;
  gap: 5px;
}

.checkText input {
  padding: 0;
  margin: 0;
}

@media (max-width: 1000px) {
  .right-side label {
    color: #ffffff;
    font-size: 14px;
  }

  .right-side .form-title p,
  .formFooter {
    font-size: 14px;
  }

  .right-side {
    justify-content: center;
    height: 100vh;
  }

  .right-side .form-title {
    margin-bottom: 15px;
  }

  .right-side .form-title h1 {
    font-weight: 600;
    font-size: 45px;
  }

  .right-side .form-title p,
  .subHeading {
    color: #f1ecec;
  }

  .right-side .form-btn button {
    width: 100%;
    background: #02697f;
    margin-top: 20px;
  }

  .errorMessage {
    font-weight: 500;
  }

  .passwordContainer fieldset:first-child .errorMessage {
    display: block;
  }

  .terms-and-conditions {
    margin: 20px 0 0 0;
  }

  .right-side input[type="text"],
  .right-side input[type="password"],
  .right-side input[type="email"],
  .securityQxn fieldset input,
  .select input {
    padding: 7px 0 7px 10px;
  }
}

@media (max-width: 768px) {
  .right-side label {
    font-size: 12px;
  }

  .passwordContainer {
    flex-direction: column;
    gap: 0;
  }

  .right-side .form-title h1 {
    font-weight: 600;
    font-size: 23px;
    text-align: center;
  }

  .right-side fieldset {
    margin-bottom: 8px;
  }

  .right-side h1 {
    padding: 0;
  }
}
