.Blog {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.Blogtext,
.Blogimages img {
  width: 100%;
  

}

.Blogimages, .Blogtext{
  padding-top: 0px;
}



.my-image {
  position: relative;
  width: 60%;
  overflow-x: hidden;
  height: fit-content;
   overflow-y: hidden;
}

.Blogimages img:nth-of-type(2) {
  width: 40%;
  position: absolute;
  top: 48%;
  left: 60%;
}
.Blogimages img:nth-of-type(1) {
  width: 140%;
  position: relative;
  top: -10%;
  left: -30%;
}



.text{
    width:90%;
}



.text h2{
  color:#011e25;
  width: 350px;
}

.input{
  width: 160%;
  height: 35px;
  padding: 7px 0 7px 7px;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  font-size: 0.6em;
  &:focus{
    outline: 1px solid #007e99;
  }
}

.padding{
    padding-top: 3px;
    display:flex;
    gap:3px;
    align-items: center;
}

.text p{
  font-weight: 600;
  padding-top: 5px;
  color:black;
}

@media (max-width: 768px) {
  .Blog {
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
  }
}

