.Blog {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.Blogtext,
.Blogimages img {
  width: 100%;
}



.Blogimages img {
  width: 90%;
  
}

.blogInput {
  gap: 20px;
}

.text{
    width:50%;
}

h4 {
  color: #0c829c23
}

h2{
  color:#00191F;
  width: 120px;
}

.input{
  width: 160%;
  height: 50px;
  padding: 8px 0 8px 8px;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  font-size: 0.6em;
  &:focus{
    outline: 1px solid #007e99;
  }
}

.padding{
    padding-top: 6px;
    display:flex;
    padding:2px;
}

p{
  font-weight: 600;
  padding-top: 5px;
}

@media (max-width: 768px) {
  .Blog {
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
  }
}

