.Blog {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.Blogtext,
.Blogimages img {
  width: 100%;
}



.Blogimages img {
  max-width: 300px;
  background-color: blue;
}

.blogInput {
  gap: 20px;
}

.text{
    width:50%;
}

h4 {
  color: rgb(94, 94, 230);
}



.padding{
    padding-top: 6px;
}

@media (max-width: 768px) {
  .Blog {
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
  }
}

