.Blog {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  position: relative;
  margin: 30px 0 50px;
}

.Blogtext,
.Blogimages img {
  width: 100%;
}


.background-blog {
  position: relative;
  z-index: 0;
  height: 90vh;
}

.background-blog::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 126, 153, 0.7);
  filter: blur(250px);
  z-index: -1;
}

.Blogimages img {
  height: 90vh;
}

.Blogtext {
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.gradient-text {
  font-weight: 700;
  font-size: 26px;
  line-height: 43px;
  background: conic-gradient(from 180deg at 50% 50%, rgba(0, 126, 153, 0.68) 0deg, rgba(0, 126, 153, 0.49) 360deg), linear-gradient(211.54deg, rgba(0, 126, 153, 0.5) 6.43%, rgba(0, 126, 153, 0.91) 23.31%, rgba(0, 126, 153, 0.85) 33.02%, rgba(0, 126, 153, 0.91) 50.92%, rgba(0, 126, 153, 0.5) 71.37%, rgba(0, 126, 153, 0.520203) 84.15%, rgba(0, 126, 153, 0.5) 92.33%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 12px;
}

.Blogtext h4 {
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 15px;
}

.blog-Input {
  display: flex;
  gap: 5px;
  align-items: center;
  white-space: nowrap;
  flex: 1;
}

.blog-Input .input {
  flex: 0.55;
  padding: 12px 0 12px 7px;
  border: 1px solid #aab2b4;
  border-radius: 5px;

  /* font-size: 0.6em; */
  &:focus {
    outline: 1px solid #007e99;
  }

  &::placeholder {
    font-size: 13px;
    color: #00151a;
  }
}

.blog-Input button{
  flex: 0.2;
}


.Blogtext p {
  font-weight: 600;
  padding-top: 5px;
  color: #00151a;
  font-weight: 700;
  margin-top: 12px;
}

@media (max-width: 1000px) {
  .Blog {
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
  }

  .Blogtext h4 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 15px;
  }

 .Blogtext{
  align-items: center;
  max-width: 100%;
 }
}