h3,
p {
  margin: 0;
  padding: 0;
}

/* ---------dashbody body------- */
.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dashboard-body {
  display: flex;
  flex-direction: row;
  height: calc(100% - 80px);
}

.dashboard-body > nav {
  /* width: 19%; */
  /* overflow: auto; */
  height: 100%;
}
.dashboard-pages-wrapper {
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

/* ------------dashboard overview-------------- */
.overview-container {
  padding-top: 27px;
}

.explore p {
  font-weight: 500;
  font-size: 19px;
  line-height: 25px;
  color: #00151a;
}

/* --------Search and button-------- */
.overview-search-filter-cal {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 20px 0px;
}
/* ----------dashboard---filter----Search----Calendar-------- */
.dash__title {
  margin-bottom: 26px;
}

.dash__title h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 43px;
  color: #00151a;
}

.dash__searchFilterDate {
  display: flex;
  align-items: center;
  /* gap: 280px; */
}

.dash__title .dash__searchFilterDate .dash__search {
  max-width: 622px;
  flex: 0.8;
}

.dash__searchFilterDate .dash_searchBar form fieldset {
  display: flex;
  align-items: center;
  border: 0;
  padding: 0;
}
.dash__searchFilterDate .dash_searchBar form fieldset button {
  margin-right: 20px;
}

.dash_searchBar {
  width: 60%;
}

.dash__searchFilterDate .dash__searchFilter .dash__search input {
  /* flex: 1; */
  padding: 17px 0 17px 15px;
  margin: 0;
  width: 100%;
  border: 1px solid #aad4dd;
  outline: none;
}

.dash__search input::placeholder {
  color: #00151a;
}

.btnzz {
  display: none;
}

.dash__searchFilter {
  display: flex;
  align-items: center;
  flex: 1;
  margin: 20px 0;
  width: 100%;
}

fieldset > button {
  height: auto;
  width: auto;
  padding: 16px 44px;
  border: 1px solid green;
}

.dash__searchFilter > .filter button,
.btnzz .filter button {
  background: #ffffff;
  border: 2px solid #cce5eb;
  border-radius: 0;
  height: auto;
  width: auto;
  height: 50px;
  padding: 4px 30px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 34px;
}

.dash__searchFilter > .filter button:hover img,
.btnzz .filter button:hover img {
  filter: brightness(85%) saturate(100%) hue-rotate(0deg);
}

.dash__searchFilter > .filter button:hover,
.btnzz .filter button {
  color: var(--primary-bg);
}

.btnzz .filter button a,
.dash__searchFilter > .filter button a {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
}

.filter {
  position: relative;
}

.filter .list {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  background: #e6f2f5;
  padding: 5px;
  cursor: pointer;
}

.filter .list span {
  display: block;
  padding: 5px;
  font-size: 13px;
  color: var(--primary-bg);
}

/* calender */

.dash__date,
.dash__date-small {
  position: relative;
  cursor: pointer;
  margin-left: auto;
}

.img-date {
  box-sizing: border-box;
  background: hsl(192, 43%, 93%);
  padding: 15px 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  gap: 10px;
}

.calender {
  position: absolute;
  top: 5px;
  right: 0;
  width: auto;
}

.dash__date p,
.dash__date-small p {
  font-size: 14px;
  font-weight: 700;
  color: var(--primary-bg);
}

/* ChartCardss */

.ChartCards {
  display: flex;
  flex-direction: column;
}

/* loan cards */

.loanAmountContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 15px;
  width: 100%;
}

.loanAmountWrapper:last-child {
  display: none;
}

.loanAmountWrapper {
  background: #ffffff;
  border: 1px solid #e6f2f5;
  box-shadow: 0px 8px 40px #e6f2f5;
  border-radius: 15px;
}

.loanAmount {
  gap: 11px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 12px 20px 15px;
  width: 100%;
}

.loanAmount h3 {
  font-weight: 600;
  font-size: 17px;
  line-height: 29px;
  color: #00151a;
}

.loanAmount p {
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #00151a;
  /* white-space:  nowrap; */
}

.loanAmountIcon {
  background: #cce5eb;
  box-shadow: 0px 8px 40px #e6f2f5;
  border-radius: 13px;
  padding: 6px 13px;
}

.loanAmountIcon img {
  width: 23px;
}

/* CHART */

.chart {
  display: flex;
  align-items: flex-end;
  margin: 20px 0;
  padding: 2px;
  gap: 15px;
  width: 100%;
  flex: 1;
}

.chart .loanAmountWrapper {
  align-self: center;
  flex: 0.25;
}

.chart1,
.chart2 {
  background: #ffffff;
  border: 1px solid #e6f2f5;
  box-shadow: 0px 8px 40px #e6f2f5;
  border-radius: 16px;
  padding: 8px 25px;
  width: 100%;
}

.chart1 {
  padding-bottom: 0;
  flex: 0.45;
}

.chart2 {
  padding: 14px;
  flex: 0.55;
}

.chart2 h2 {
  font-weight: 700;
  font-size: 15px;
  padding-bottom: 3px;
}

.chart2 .graph {
  display: flex;
  align-items: center;
  /* padding-left: 17px; */
}

.graph .rotate {
  transform: rotate(-90deg);
  margin-bottom: 30px;
  white-space: nowrap;
}

.chartTitle {
  padding: 10px 0 10px 25px;
  margin-bottom: 5px;
}

.chart1 .chartTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chartTitle h2 {
  font-size: 10px;
  font-weight: 700;
  line-height: 0;
}

.colors {
  display: flex;
  gap: 7px;
  font-size: 8px;
  font-weight: 500;
  align-self: flex-end;
  padding: 7px 0 0 0;
}

.color1,
.color2,
.color3 {
  display: flex;
  align-items: center;
  gap: 1px;
}

.color1 span,
.color2 span,
.color3 span {
  height: 6px;
  width: 6px;
  border-radius: 50%;
}

.tl span {
  background: #003299;
}

.ap span {
  background: #99007e;
}

.dc span {
  background: #009967;
}

.chart2 h2 {
  line-height: 20px;
}

.chart1 p {
  text-align: center;
  font-size: 8px;
  font-weight: 700;
  line-height: 0;
  padding: 0 10px 10px;
}

.chart2 p {
  font-size: 10px;
  text-align: center;
  color: #00191f;
  line-height: 0;
}

@media (max-width: 1000px) {
  .dash__title h2 {
    font-size: 30px;
  }

  .dash__title p {
    font-size: 22px;
  }

  .dash__searchFilterDate {
    flex-direction: column;
    align-items: center;
    gap: 0;
    width: 100%;
  }

  .dash__searchFilter {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .dash__search {
    max-width: none;
    grid-column: auto;
    flex-direction: column;
    flex: 1;
  }

  fieldset.dash__search > button {
    display: none;
  }

  .dash__searchFilter > .filter button {
    display: none;
  }

  .btnzz {
    display: flex;
    gap: 20px;
    box-sizing: border-box;
    white-space: normal;
    justify-content: center;
    align-items: center;
  }

  .btnzz button {
    height: 50px;
  }

  .btnzz .filter button {
    padding-left: 15px;
    padding-right: 15px;
  }

  .dash__search button {
    display: block;
  }

  .dash_searchBar {
    width: 100%;
  }

  .dash__searchFilterDate fieldset {
    justify-content: flex-start;
  }

  .dash__searchFilter,
  .dash__searchFilter > button:last-child a {
    justify-content: flex-start;
  }

  .loanAmountContainer {
    grid-template-columns: 2fr;
    margin-top: 20px;
  }

  .loanAmount {
    align-items: center;
  }

  .loanAmountWrapper:last-child {
    display: block;
  }

  .chart .loanAmountWrapper {
    display: none;
  }

  .chart {
    flex-direction: column;
    align-items: center;
  }

  .dash__date-small {
    display: flex;
    /* padding: 13px 18px; */
  }

  .dash__date {
    display: none;
  }

  .img-date {
    box-sizing: border-box;
    background: hsl(192, 43%, 93%);
    padding: 15px 15px;
  }
}

/* ------------dashboard overview-------------- */

.explore p {
  font-weight: 500;
  font-size: 19px;
  line-height: 25px;
  color: #00151a;
}
