* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Urbanist';
    font-style: normal;

}

/* ---------dashbody body------- */
.dashboard-body {
    display: flex;
    flex-direction: row;
    /* overflow-y: auto; */
}

/* ------------dashboard overview-------------- */
.overview-container {
    padding: 27px 50px;
    width: 82vw;
    /* height: 100vh; */

}

.explore p {

    font-weight: 500;
    font-size: 19px;
    line-height: 25px;
    color: #00151A;
}
h3,
p {
    margin: 0;
    padding: 0;
}

.dash__title {
    margin-bottom: 26px;
}

.dash__title h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: #00151A;
}

.dash__title p {
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #00151A;
}

.dash__searchFilterDate {
    display: flex;
    align-items: center;
    gap: 300px;
}


.dash__search {
    max-width: 622px;
    flex: 0.8;
}

.dash__searchFilterDate fieldset {
    display: flex;
    align-items: center;
}

.dash__search input {
    flex: 1;
    padding: 17px 0 17px 15px;
    margin: 0;
}

.btnzz {
    display: none;
}

.dash__searchFilter {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    /* width: 100%; */
    flex: 1;
}

fieldset>button {
    height: auto;
    width: auto;
    padding: 16px 44px;
    border: 1px solid green;
}



.dash__searchFilter>button:nth-child(2),
.btnzz button:nth-child(2) {
    background: #FFFFFF;
    border: 2px solid #CCE5EB;
    border-radius: 0;
    height: auto;
    width: auto;
    padding: 8px 20px;
    margin: 0;
}

.dash__searchFilter>button:nth-child(2) a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0;
}


.loanAmountContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 24px;
    width: 100%;
}


.loanAmountWrapper {
    background: #FFFFFF;
    border: 1px solid #E6F2F5;
    box-shadow: 0px 8px 40px #E6F2F5;
    border-radius: 16px;
}

.loanAmount {
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
}

.loanAmount h3 {
    font-weight: 600;
    font-size: 23px;
    line-height: 29px;
    color: #00151A;
}

.loanAmount p {
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #00151A;
}

.loanAmountIcon {
    background: #CCE5EB;
    box-shadow: 0px 8px 40px #E6F2F5;
    border-radius: 16px;
    padding: 8px 15px;
}

@media (max-width: 768px) {
    .dash__title h2 {
        font-size: 30px;
    }

    .dash__title p {
        font-size: 22px;
    }

    .dash__searchFilterDate {
        flex-direction: column;
        align-items: normal;
        gap: 0;
    }

    .dash__searchFilter {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .dash__search {
        max-width: none;
        grid-column: auto;
        flex-direction: column;
    }

    fieldset.dash__search>button {
        display: none;
    }

    .dash__searchFilter>button:nth-child(2) {
        display: none;
    }

    .btnzz {
        display: flex;
        gap: 20px;
    }

    .dash__search button {
        display: block;
    }

    .dash__searchFilterDate fieldset {
        justify-content: flex-start;
    }

    .dash__searchFilter,
    .dash__searchFilter>button:last-child a {
        justify-content: flex-start;
    }

    .loanAmountContainer {
        grid-template-columns: 2fr;
    }

    .loanAmount {
        align-items: center;
    }
}



