h3,
p {
  margin: 0;
  padding: 0;
}

.dash__title {
  margin-bottom: 26px;
}

.dash__title h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 43px;
  color: #00151a;
}

.dash__title p {
  font-weight: 500;
  font-size: 25px;
  line-height: 34px;
  color: #00151a;
}

.dash__searchFilterDate {
  display: flex;
  align-items: center;
  /* gap: 300px; */
}

.dash__search {
  max-width: 622px;
  flex: 0.8;
}

.dash__searchFilterDate fieldset {
  display: flex;
  align-items: center;
}

.dash__search input {
  flex: 1;
  padding: 17px 0 17px 15px;
  margin: 0;
}

.btnzz {
  display: none;
}

.dash__searchFilter {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  /* width: 100%; */
  flex: 1;
}

fieldset > button {
  height: auto;
  width: auto;
  padding: 16px 44px;
  border: 1px solid green;
}

.dash__searchFilter > .filter button,
.btnzz .filter button {
  background: #ffffff;
  border: 2px solid #cce5eb;
  border-radius: 0;
  height: auto;
  width: auto;
  padding: 8px 20px;
  margin: 0;
}

.dash__searchFilter > .filter button:hover img,
.btnzz .filter button:hover img {
  filter: brightness(85%) saturate(100%) hue-rotate(0deg);
}

.dash__searchFilter > .filter button:hover,
.btnzz .filter button {
  color: var(--primary-bg);
}

.btnzz .filter button a,
.dash__searchFilter > .filter button a {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
}

.filter {
  position: relative;
}

.filter .list {
  position: absolute;
  top: 0;
  width: 100%;
  background: #e6f2f5;
  padding: 5px;
  cursor: pointer;
}

.filter .list span {
  display: block;
  padding: 5px;
  font-size: 13px;
  color: var(--primary-bg);
}

/* calender */

.dash__date,
.dash__date-small {
  position: relative;
  cursor: pointer;
}

.img-date {
  box-sizing: border-box;
  background: #e6f2f5;
  padding: 17px 22px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.calender {
  position: absolute;
  top: 5px;
  width: auto;
}

.dash__date p,
.dash__date-small p {
  font-size: 14px;
  font-weight: 700;
  color: var(--primary-bg);
}

/* loan cards */

.loanAmountContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  gap: 15px;
  width: 100%;
}

.loanAmountWrapper:last-child {
  display: none;
}

.loanAmountWrapper {
  background: #ffffff;
  border: 1px solid #e6f2f5;
  box-shadow: 0px 8px 40px #e6f2f5;
  border-radius: 15px;
}

.loanAmount {
  gap: 11px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 12px 20px 15px;
  width: 100%;
}

.loanAmount h3 {
  font-weight: 600;
  font-size: 17px;
  line-height: 29px;
  color: #00151a;
}

.loanAmount p {
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #00151a;
  /* white-space: nowrap; */
}

.loanAmountIcon {
  background: #cce5eb;
  box-shadow: 0px 8px 40px #e6f2f5;
  border-radius: 13px;
  padding: 6px 13px;
}

.loanAmountIcon img {
  width: 23px;
}

/* CHART */

.chart {
  display: flex;
  align-items: flex-end;
  margin: 20px 0;
  padding: 2px;
  gap: 15px;
  width: 100%;
  flex: 1;
}

.chart .loanAmountWrapper {
  align-self: center;
  flex: 0.25;
}

.chart1,
.chart2 {
  background: #ffffff;
  border: 1px solid #e6f2f5;
  box-shadow: 0px 8px 40px #e6f2f5;
  border-radius: 16px;
  padding-right: 25px;
  width: 100%;
}

.chart1 {
  padding-bottom: 0;
  flex: 0.45;
}

.chart2 {
  padding: 14px;
  flex: 0.55;
}

.chart2 h2 {
  font-weight: 700;
  font-size: 15px;
  padding-bottom: 3px;
}

.chart2 .graph {
  display: flex;
  align-items: center;
  /* padding-left: 17px; */
}

.graph .rotate {
  transform: rotate(-90deg);
  margin-bottom: 30px;
  white-space: nowrap;
}

.chartTitle {
  padding: 10px 0 10px 25px;
}

.chart1 .chartTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chartTitle h2 {
  font-size: 10px;
  font-weight: 700;
  line-height: 0;
}

.colors {
  display: flex;
  gap: 7px;
  font-size: 8px;
  font-weight: 500;
  align-self: flex-end;
  padding: 7px 0 0 0;
}

.color1,
.color2,
.color3 {
  display: flex;
  align-items: center;
  gap: 1px;
}

.color1 span,
.color2 span,
.color3 span {
  height: 6px;
  width: 6px;
  border-radius: 50%;
}

.tl span {
  background: #003299;
}

.ap span {
  background: #99007e;
}

.dc span {
  background: #009967;
}

.chart2 h2 {
  line-height: 20px;
}

.chart1 p {
  text-align: center;
  font-size: 8px;
  font-weight: 700;
  line-height: 0;
  padding: 0 10px 10px;
}

.chart2 p {
  font-size: 10px;
  text-align: center;
  color: #00191f;
  line-height: 0;
}

@media (max-width: 1000px) {
  .dash__title h2 {
    font-size: 30px;
  }

  .dash__title p {
    font-size: 22px;
  }

  .dash__searchFilterDate {
    flex-direction: column;
    align-items: normal;
    gap: 0;
  }

  .dash__searchFilter {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .dash__search {
    max-width: none;
    grid-column: auto;
    flex-direction: column;
  }

  fieldset.dash__search > button {
    display: none;
  }

  .dash__searchFilter > .filter button {
    display: none;
  }

  .btnzz {
    display: flex;
    gap: 20px;
    box-sizing: border-box;
  }

  .dash__search button {
    display: block;
  }

  .dash__searchFilterDate fieldset {
    justify-content: flex-start;
  }

  .dash__searchFilter,
  .dash__searchFilter > button:last-child a {
    justify-content: flex-start;
  }

  .loanAmountContainer {
    grid-template-columns: 2fr;
    margin-top: 20px;
  }

  .loanAmount {
    align-items: center;
  }

  .loanAmountWrapper:last-child {
    display: block;
  }

  .chart .loanAmountWrapper {
    display: none;
  }

  .chart {
    flex-direction: column;
    align-items: center;
  }

  .dash__date-small {
    display: flex;
    /* padding: 13px 18px; */
  }

  .dash__date {
    display: none;
  }
}

/* ---------dashbody body------- */
.dashboard-body {
  display: flex;
  align-items: flex-start;
}

.dashboard-body .wrapper {
  margin: 20px 25px 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

/* ------------dashboard overview-------------- */
.overview-container {
  padding: 27px 50px;
  width: 82vw;
  height: 88vh;
}
.explore p {
  font-weight: 500;
  font-size: 19px;
  line-height: 25px;
  color: #00151a;
}
