:root {
  --toggle-bg: #b7b7b7;
  --slide-ball: #ffffff;
  --align-ball: flex-start;
}

.move {
  --toggle-bg: var(--primary-bg);
  --toggle-ball: #1a1b21;
  --align-ball: flex-end;
}

.predictiveModel {
  text-align: center;
  background: #e6f2f5;
  color: #005466;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 25px;
  position: relative;
}

.predictiveItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}

.predictiveItem .title {
  font-weight: 500;
  font-size: 18px;
  color: #00151a;
}

.closeRule {
  border: 1px solid red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  transform: rotate(45deg);
}

/* 
  Toggle color mode
  */

.toggle-edit {
  display: flex;
  align-items: center;
  gap: 24px;
}

.toggle {
  width: 45px;
  height: 23px;
  background: var(--toggle-bg);
  border-radius: 25px;
  padding: 6px 3px;
  display: flex;
  align-items: center;
  justify-content: var(--align-ball);
  transition: all ease-in-out 0.1s;
}

.toggle .toggle-ball {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--slide-ball);
}

/* 
Edit Modal
*/

.editModal {
  /* display: none; */
  position: fixed;
  top: 60px;
  bottom: 5%;
  right: 0;
  left: 0;
  margin: auto;
  height: auto;
  overflow-y: auto;
  width: 55%;
  background: #fbfeff;
  box-shadow: 0px 4px 20px #e6f2f5;
  border-radius: 8px;
  padding: 51px 24px;
  z-index: 2500;
}

.edit .editModal {
  /* display: none; */
}

.editModal .title {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.editModal .title h2 {
  /* justify-self: center; */
  margin: 0 auto;
  font-weight: 600;
  font-size: 25px;
  /* line-height: 36px; */
  color: #00151a;
}

.editModal:first-child p {
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  /* line-height: 29px; */
  margin: 0 auto;
  color: #55666a;
  /* color: red; */
}

.editModal .title .plus {
  border: 1px solid var(--primary-bg);
  display: flex;
  align-items: center;
  border-radius: 50%;
  float: right;
  /* justify-self: flex-end; */
  /* color: red; */
}

.editIcon,
.predictiveItem {
  cursor: pointer;
}

.select-section {
  display: block;
  margin-top: 30px;
}

.select-section div {
  font-weight: 600;
  font-size: 17px;
  line-height: 29px;
  color: #00151a;
}

.select-section fieldset,
.select-sections fieldset {
  flex: 1;
  border: 1.1px solid #cbcbcb;
  display: flex;
  align-items: center;
  padding: 12px 17px 12px 12px;
  border-radius: 5px;
  width: 100%;
}

.select-section fieldset input,
.select-sections fieldset input {
  border: none;
  flex: 1;
  outline: 0;
}

.select-section fieldset input::placeholder {
  color: #9d9d9d;
}

.select-sections {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 20px;
}

.select-sections .title {
  margin-bottom: 8px;
}

.new-model {
  align-self: flex-end;
}

.new-model button {
  gap: 5px;
  padding: 11px 16px;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .predictiveItem .title {
    font-size: 16px;
  }

  .toggle {
    width: 40px;
    height: 21px;
    padding: 3px 3px;
  }

  .toggle .toggle-ball {
    width: 15px;
    height: 20px;
    height: 15px;
  }

  .editModal {
    width: 75%;
  }

  .editModal:first-child h2 {
    font-size: 20px;
  }

  .editModal:first-child p {
    font-size: 14px;
  }
}

/* 
:root {
  --toggle-bg: #f5f5f5;
  --slide-ball: #ffffff;
  --align-ball: flex-start;
}

.move {
  --toggle-bg: blue;
  --toggle-ball: #1a1b21;
  --align-ball: flex-end;
}

.predictiveModel {
  text-align: center;
  background: #e6f2f5;
  color: #005466;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 25px;
  position: relative;
}

.predictiveItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}

.predictiveItem .title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #00151a;
}

.toggle-edit {
  display: flex;
  align-items: center;
  gap: 24px;
}

.toggle {
  width: 50px;
  height: 23px;
  background: var(--toggle-bg);
  border-radius: 25px;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: var(--align-ball);
}

.toggle .toggle-ball {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--slide-ball);
}

.new-model {
  align-self: flex-end;
}

.new-model button {
  gap: 5px;
  padding: 11px 16px;
  display: flex;
  align-items: center;
}

.Edit {
  position: fixed;
  width: 888px;
  height: 1009px;
  left: calc(50% - 888px / 2);
  top: calc(50% - 1009px / 2 + 0.5px);
  background: #fbfeff;
  box-shadow: 0px 4px 20px #e6f2f5;
  border-radius: 8px;
  display: none;
}

.edit .Edit {
  display: none;
}

.Edit .title {
  display: flex;
  align-items: center;
}

.Edit .title h2 {
  justify-self: center;
}

.Edit .title .plus {
  border: 1px solid var(--primary-bg);
}

.editIcon,
.predictiveItem {
  cursor: pointer;
}

*/