:root {
  --toggle-bg: #b7b7b7;
  --slide-ball: #ffffff;
  --align-ball: flex-start;
}

.move {
  --toggle-bg: var(--primary-bg);
  --toggle-ball: #1a1b21;
  --align-ball: flex-end;
}

.predictiveModel {
  text-align: center;
  background: #e6f2f5;
  color: #005466;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 25px;
  position: relative;
}

.predictiveItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}

.predictiveItem .title {
  font-weight: 500;
  font-size: 18px;
  color: #00151a;
}

.closeRule {
  border: 1px solid red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  transform: rotate(45deg);
}

/* 
  Toggle color mode
  */

.toggle-edit {
  display: flex;
  align-items: center;
  gap: 24px;
}

.toggle {
  width: 45px;
  height: 23px;
  background: var(--toggle-bg);
  border-radius: 25px;
  padding: 6px 3px;
  display: flex;
  align-items: center;
  justify-content: var(--align-ball);
  transition: all ease-in-out 0.1s;
}

.toggle .toggle-ball {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--slide-ball);
}

/* 
Edit Modal
*/

.editModal {
  position: fixed;
  top: 20px;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  height: auto;
  overflow-y: auto;
  width: 55%;
  background: #fbfeff;
  box-shadow: 0px 4px 20px #e6f2f5;
  border-radius: 8px;
  padding: 10px 24px 10px;
  z-index: 2500;
  text-align: left;
  color: black;
  font-weight: 400;
}

.editModal form label {
  color: black;
  font-size: 14px;
  font-weight: 400;
}

/* 
Edit Modal title
*/

.editModal .title {
  display: flex;
}

.editModal .title h2 {
  margin: 0 auto;
  font-weight: 600;
  font-size: 25px;
  color: #00151a;
}

.editModal .rule-par {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  color: #55666a;
}

.editModal .title .plus {
  border: 1.5px solid var(--primary-bg);
  display: flex;
  align-items: center;
  border-radius: 50%;
  float: right;
  transform: rotate(-45deg);
}

.editIcon,
.predictiveItem {
  cursor: pointer;
}

/* 
Edit Modal selections
*/

.selections {
  margin-top: 10px;
}

.select-section {
  display: block;
  text-align: left;
}

.select-section div {
  font-weight: 500;
  font-size: 15px;
  line-height: 29px;
  color: #00151a;
}

.select-section fieldset,
.select-sections fieldset {
  flex: 1;
  border: 1.1px solid #cbcbcb;
  display: flex;
  align-items: center;
  padding: 10px 17px 10px 12px;
  border-radius: 5px;
  width: 100%;
}

.select-section fieldset input,
.select-sections fieldset input {
  border: none;
  flex: 1;
  outline: 0;
}

.select-section fieldset input::placeholder {
  color: #9d9d9d;
}
.select-sectionz {
  display: flex;
  flex-direction: column;
}

.select-sections {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 7px;
  width: 100%;
}

.select-sections .title {
  margin-bottom: 5px;
}

/* 
Edit Modal delete
*/

.inputDelContainer {
  align-self: flex-end;
}

.inputDelContainer p {
  margin: 0;
  padding: 0;
}

.inputDel {
  display: flex;
  font-size: 0.875rem;
  gap: 5px;
  align-items: center;
}

.new-model {
  align-self: flex-end;
}

.editModal .select {
  width: 100%;
}
.select-component {
  width: 100%;
}

.editModal .select-component .title {
  font-size: 15px;
}

.editModal form {
  display: flex;
  flex-direction: column;
}

.editModal .new-condition {
  align-self: flex-end;
  margin-top: 10px;
}

.editModal form .new-condition button {
  padding: 7px 10px;
}

.editModal form .save-New button {
  width: 100%;
  margin-top: 30px;
  padding: 17px 0;
  font-weight: 700;
  justify-content: center;
}

/* 
New Modal 
*/

.new-model button {
  gap: 5px;
  padding: 11px 16px;
  display: flex;
  align-items: center;
}

@media (max-width: 1000px) {
  .predictiveItem .title {
    font-size: 16px;
  }

  .toggle {
    width: 40px;
    height: 21px;
    padding: 3px 3px;
  }

  .toggle .toggle-ball {
    width: 15px;
    height: 20px;
    height: 15px;
  }

  .editModal {
    width: 75%;
    overflow-y: auto;
  }

  .editModal:first-child h2 {
    font-size: 20px;
  }

  .editModal:first-child p {
    font-size: 14px;
  }

  .select-sections {
    flex-direction: column;
    gap: 6px;
  }
}
