.Blog {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.Blogtext,
.Blogimages img {
  width: 100%;
}

.Blogimages img {
  max-width: 764px;
}

.blogInput {
  gap: 20px;
}

h4 {
  color: rgb(94, 94, 230);
}

@media (max-width: 768px) {
  .Blog {
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
  }
}
