h1 {
  margin: 0;
  padding: 0;
}

.auth-container {
  padding: 20px 32px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth--layout {
  width: 100%;
  background: white;
  display: flex;
  gap: 70px;
  margin-top: 20px;
}

/* ------------------ */
/* Left side */
/* ------------------ */

.left-side,
.right-side {
  width: 100%;
  height: auto;
}

.left-side {
  background: var(--primary-bg);
  border-radius: 16px;
  padding: 70px 50px;
  max-width: 517px;
}

.left-side img {
  width: 100%;
  margin-bottom: 50px;
}

.left-side_text {
  text-align: center;
}

.left-side_text p:first-child {
  font-weight: 600;
  font-size: 26px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 8px;
}

.left-side_text p:nth-child(2) {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

/* ------------------ */
/* right */
/* ------------------ */

.right-side {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
}

.right-side-header {
  justify-self: flex-start;
  align-self: flex-end;
}

.right-side-header a img {
  width: 120px;
}

.logo img {
  width: 100%;
  justify-content: flex-end;
}

.right-side button {
  width: 100%;
}

.right-side .right-style {
  justify-self: center;
  align-items: center;
}

/* ------------------ */
/* medium size screens */
/* ------------------ */

@media (max-width: 1000px) {
  .auth-container {
    padding: 0 100px;
  }

  .right-style {
    background: var(--primary-bg);
    color: #ffffff;
    padding: 30px 100px;
    border-radius: 10px;
    align-items: center;
  }

  .left-side {
    display: none;
  }

  .right-side {
    gap: 20px;
  }

  .right-side-header:not(.securityQxn) {
    position: static;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

/* ------------------ */
/* small size screens */
/* ------------------ */

@media (max-width: 768px) {
  .auth-container {
    padding: 0 20px;
  }

  .right-side {
    position: relative;
  }
  .left-side {
    display: none;
  }

  .right-style {
    padding: 30px 50px;
    margin: 0;
  }

  .right-side .password-Content {
    display: block;
  }

  .right-side-header a img {
    width: 100px;
    border: 1px solid black;
    position: absolute;
    top: 0;
  }

  .right-side-header {
  }
}
