h1 {
  margin: 0;
  padding: 0;
}

.auth-container {
  padding: 0 32px 0;
  display: flex;
  height: auto;

}

.auth--layout {
  width: 100%;
  background: white;
  display: flex;
  gap: 90px;
  margin-top: 20px;
}

/* ------------------ */
/* Left side */
/* ------------------ */

.left-side,
.right-side {
}

.left-side {
  background: var(--primary-bg);
  border-radius: 16px;
  padding: 50px 40px;
  /* max-width: 617px; */
  width: 38%;
}

.left-side img {
  width: 100%;
  margin-bottom: 50px;
}

.left-side_text {
  text-align: center;
}

.left-side_text p:first-child {
  font-weight: 600;
  font-size: 26px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 8px;
}

.left-side_text p:nth-child(2) {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

/* ------------------ */
/* right */
/* ------------------ */



.right-side-header {
  justify-self: flex-start;
  align-self: flex-end;
}

.right-side-header a img {
  width: 120px;
}

.logo img {
  width: 100%;
  justify-content: flex-end;
}

.right-side button {
  width: 100%;
  font-weight: 600;
}

.right-side .right-style {
  justify-self: center;
  align-items: center;
}

/* ------------------ */
/* medium size screens */
/* ------------------ */

@media (max-width: 1000px) {
  .auth-container {
    padding: 0 100px;
    overflow-x: hidden;
    /* height: 100vh; */
  }

  .auth--layout {
    margin-top: 0;
  }

  .right-style {
    background: var(--primary-bg);
    color: #ffffff;
    padding: 30px 50px;
    border-radius: 10px;
    align-items: center;
  }

  .left-side {
    display: none;
  }

  .right-side {
    gap: 30px;
    margin-top: 20px;
    width: 100% !important;
    justify-content: center !important;
  }

  .right-side-header:not(.securityQxn) {
    position: absolute;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

/* ------------------ */
/* small size screens */
/* ------------------ */

@media (max-width: 768px) {
  .auth-container {
    padding: 0 20px;
  }


  .left-side {
    display: none;
  }

  .right-style {
    padding: 30px;
    margin: 0;
  }

  .right-side .password-Content {
    display: block;
  }

  .right-side-header a img {
    width: 100px;
  }
}