h1 {
  margin: 0;
  padding: 0;
}

.authContainerWrapper {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.auth-container {
  padding: 0 32px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.auth--layout {
  width: 100%;
  background: white;
  display: flex;
  gap: 5%;
}

/* ------------------ */
/* Left side */
/* ------------------ */

.left-side {
  background: var(--primary-bg);
  border-radius: 16px;
  padding: 50px 40px;
  max-width: 600px;
  height: 100%;
}

.left-side img {
  width: 100%;
  margin-bottom: 50px;
  webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  transition: ease-in-out 2s;
}

.left-side:hover img {
  transform: scale(1.06);
  cursor: pointer;
  transition: all ease-in-out 1s;
}

.left-side_text {
  text-align: center;
}

.left-side_text p:first-child {
  font-weight: 600;
  font-size: 26px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 8px;
}

.left-side_text p:nth-child(2) {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

/* ------------------ */
/* right */
/* ------------------ */



.right-side-header {
  justify-self: flex-start;
  align-self: flex-end;
}

.right-side-header a img {
  width: 120px;
}

.logo img {
  width: 100%;
  justify-content: flex-end;
}

.right-side button {
  width: 100%;
  font-weight: 600;
}

.right-side .right-style {
  justify-self: center;
  align-items: center;
}

/* ------------------ */
/* medium size screens */
/* ------------------ */

@media (max-width: 1000px) {
  .authContainerWrapper {
    height: auto;
  }


  .auth-container {
    padding: 0 100px;
    /* overflow-x: hidden; */
    /* height: 100vh; */
  }

  .auth--layout {
    margin-top: 0;
  }

  .right-style {
    background: var(--primary-bg);
    color: #ffffff;
    padding: 25px 40px;
    border-radius: 10px;
    align-items: center;
  }

  .left-side {
    display: none;
  }

  .right-side {
    gap: 6px;
    margin-top: 20px;
    width: 100% !important;
    justify-content: center !important;
  }

  .right-side-header:not(.securityQxn) {
    position: absolute;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .right-side-header .logo img {
    height: 30px;
  }
}

/* ------------------ */
/* small size screens */
/* ------------------ */

@media (max-width: 768px) {
  .auth-container {
    padding: 0 20px;
  }


  .left-side {
    display: none;
  }

  .right-style {
    padding: 25px;
    margin: 0;
  }

  .right-side .password-Content {
    display: block;
  }

  .right-side-header a img {
    width: 100px;
  }
}


/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}