* {
  box-sizing: border-box;
}

h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

/* ------------------ */
/* loanDefaulters */
/* ------------------ */

.loanDefaulters,
.teamwork,
.Revolutionising {
  display: flex;
  align-items: center;
  padding: 0px;
  justify-content: space-between;
  margin-bottom: 30px;
  gap: 50px;
}

.lwFlexText,
.lwFlexImg img {
  width: 100%;
}

/* ------------------ */
/* loanDefaulters Text*/
/* ------------------ */

.lwFlexText {
  display: flex;
  flex-direction: column;
  max-width: 543px;
}

h2 {
  font-weight: 600;
  font-size: 41px;
  line-height: 60px;
  margin: 0;
}

.lwFlexText p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.lwFlexText ul {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
}

.lwFlexText li {
  gap: 16px;
  display: flex;
  align-items: center;
}

/* ------------------ */
/* loanDefaulters Img*/
/* ------------------ */

.lwFlexImg {
  max-width: 736px;
  display: flex;
  align-items: center;
  /* max-height: 875px; */
}

.Revolutionising {
  /*  */
}

.revText {
  font-size: 30px;
  line-height: 50px;
  /* border: 1px solid black; */
}

.revText h2,
.revText p {
  margin-bottom: 10px;
}

.revText h2{
  font-size: 35px;
}

/* ------------------------- */
/* Medium to small screens*/
/* ------------------------- */

@media (max-width: 768px) {
  .loanDefaulters {
    flex-direction: column;
    gap: 20px;
  }

  h2 {
    /* text-align: center; */
    font-size: 31px;
    /* line-height: 50px; */
  }

  .teamwork {
    flex-direction: column-reverse;
  }

  .Revolutionising {
    flex-direction: column;
  }
}