* {
  box-sizing: border-box;
}

h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

/* ------------------ */
/* loanDefaulters */
/* ------------------ */

.loanDefaulters,
.teamwork,
.Revolutionising,
.hero {
  display: flex;
  align-items: center;
  padding: 0px;
  justify-content: space-between;
  /* margin-bottom: 30px; */
  gap: 50px;
}

.lwFlexText,
.lwFlexImg img {
  width: 100%;
}

/* ------------------ */
/* loanDefaulters Text*/
/* ------------------ */

.lwFlexText {
  display: flex;
  flex-direction: column;
  max-width: 543px;
}

h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  margin: 0;
  /* border: 1px solid black; */
}

.lwFlexText p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.lwFlexText ul {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
}

.lwFlexText li {
  gap: 16px;
  display: flex;
  align-items: center;
}

/* ------------------ */
/* loanDefaulters Img*/
/* ------------------ */

.lwFlexImg {
  max-width: 736px;
  display: flex;
  align-items: center;
  /* max-height: 875px; */
}

/* ------------------ */
/* Revolutionising */
/* ------------------ */



.revText {
  /* font-size: 40px; */
  /* border: 1px solid black; */
}

.revText h2,
.revText p {
  margin-bottom: 10px;
}

.revText h2 {
  font-size: 30px;
  line-height: 40px;
}

/* ------------------ */
/* Amazing features */
/* ------------------ */

.featureWrapper,
.features {
  display: flex;
  width: 100%;
}

.featureWrapper {
  gap: 49px;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-gap: 10px; */
  gap: 49px;
}

.bigFeature {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 40px;
  gap: 150px;
  background: #11252A;
  border-radius: 15px;
}

.bigFeature h3 {
  font-weight: 400;
  font-size: 52.5px;
  line-height: 73px;
  color: #fff;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 55px;
  gap: 73px;
  background: #F3F8F7;
  border-radius: 15px;
}

.feature p {
  font-size: 20px;
  line-height: 31px;
}

/* ------------------------- */
/* Hero*/
/* ------------------------- */

.hero {
  margin-top: 30px;
}

.history {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 16px;
}

/* .hero h2{
  font-size: 51px;
line-height: 73px;
} */

.heroBtns {
  display: flex;
  align-items: center;
  gap: 20px;
}

.heroBtns a {
  padding: 15px 30px;
  display: flex;
  align-items: center;
  gap: 20px;
  white-space: nowrap;
}

.heroText p {
  margin-bottom: 10px;
}



/* ------------------------- */
/* Medium to small screens*/
/* ------------------------- */

@media (max-width: 768px) {

  .loanDefaulters {
    flex-direction: column;
    gap: 20px;
  }

  h2 {
    font-size: 31px;
    line-height: 45px;
    margin-bottom: 10px;
  }

  .teamwork,
  .hero {
    flex-direction: column-reverse;
  }

  .Revolutionising {
    flex-direction: column;
  }

  .featureWrapper,
  .features {
    flex-direction: column;
  }

  .features {
    grid-template-columns: 1fr;
  }

  .bigFeature {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 50px;
    gap: 90px;

  }

  .heroText {
    margin-bottom: 30px;
  }
}