h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}


h2 {
  font-weight: 600;
  font-size: 45px;
  line-height: 55px;
  /* max-width: 400px; */
  margin: 0;
  margin-bottom: 25px;
  /* border: 1px solid black; */
}

/* ------------------------- */
/* Hero*/
/* ------------------------- */

.hero {
  margin-top: 30px;
}

.history {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  margin-bottom: 16px;
}

.history img {
  height: 42px;
}

.heroBtns {
  display: flex;
  align-items: center;
  gap: 20px;
}
 

.heroBtns a {
  gap: 20px;
  display: flex;
  align-items: center;
}

.heroText {
  max-width: 450px;
}

.heroText p {
  margin-bottom: 20px;
}

.heroImg img,
.lwFlexImg img {
  height: 90vh;
}

.heroImg,
.lwFlexImg,
.AmazingImg {
  webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  transition: all ease-in-out 2s;
}

.heroImg img:hover,
.lwFlexImg img:hover,
.AmazingImg img:hover {
  transform: scale(1.06);
  cursor: pointer;
  transition: all ease-in-out 1s;
}

.heroText p,
.lwFlexText p,
.AmazingText p,
.revText p {
  color: #00191f;
  font-size: 15px;
  line-height: 19.3px;
}


/* ------------------ */
/* loanDefaulters */
/* ------------------ */

.loanDefaulters,
.teamwork,
.Revolutionising,
.hero {
  display: flex;
  align-items: center;
  padding: 0px;
  justify-content: space-between;
  gap: 50px;
}

.lwFlexText,
.lwFlexImg img {
  width: 100%;
}

.teamworkImg img {
  height: 100vh;
}

.teamworkText .lwFlexText ul {
  margin-top: 30px;
}

/* ------------------ */
/* loanDefaulters Text*/
/* ------------------ */

.lwFlexText {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  max-width: 543px;
}

.lwFlexText p {
  font-size: 16px;
  line-height: 19px;
}

.lwFlexText ul {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
}

.lwFlexText li {
  gap: 16px;
  display: flex;
  align-items: center;
}

/* ------------------ */
/* loanDefaulters Img*/
/* ------------------ */

.lwFlexImg {
  max-width: 736px;
  display: flex;
  align-items: center;
  transform: scale(1.04);
}

/* ------------------ */
/* Revolutionising */
/* ------------------ */

.revText p {
  max-width: 500px;

}

.revText h2,
.revText p {
  margin-bottom: 25px;
}

.revText h2 {
  font-size: 39px;
  line-height: 50px;
  max-width: 400px;
}



/* ------------------ */
/* Amazing features */
/* ------------------ */


.featureContainer,
.features {
  display: flex;
  width: 100%;
}

.featureContainer {
  gap: 49px;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 49px;
  flex: 2;
}

.bigFeature {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 40px 40px 50px;
  justify-content: space-between;
  gap: 50px;
  background: #11252a;
  border-radius: 15px;
  box-sizing: border-box;

}

.bigFeature:hover {
  background: #009967;
  transform: scale(1.04);
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}

.bigFeature h3 {
  font-weight: 400;
  font-size: 42.5px;
  line-height: 73px;
  color: #fff;
}

.bigFeatureImg,
.AmazingImg {
  border-radius: 50%;
  height: 157px;
  width: 157px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bigFeatureImg {
  border: 1.2444px solid #ffffff;
}

.featureHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  gap: 20px;
}

.AmazingText {
  width: 100%;
  max-width: 700px;
}

.AmazingImg {
  border: 1.2444px solid #000;
}

.AmazingImg img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.bigFeatureImg img,
.AmazingImg img {
  transform: rotate(-5deg);
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px 35px;
  gap: 5px;
  background: #f3f8f7;
  border-radius: 15px;
}

.feature:hover {
  background: var(--primary-bg);
  transform: scale(1.04);
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}

.feature p {
  font-size: 18px;
  line-height: 40px;
}

.feature:hover p {
  color: #fff;
}

.featureImg {
  background: #80bfcc;
  border-radius: 33px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.featureImg img {
  height: 37px;
}

.feature:hover .featureImg {
  background: #11252a;
}

.feature:hover .featureImg img {
  filter: saturate(0%) brightness(10000%);
}

/* ------------------------- */
/* Tablets and big phones*/
/* ------------------------- */

@media (max-width: 1000px) {

  .hero,
  .Revolutionising,
  .loanDefaulters {
    flex-direction: column;
  }

  .lwFlexText ul {
    align-items: center;
  }

  .lwFlexText {
    align-items: center;
    text-align: center;
    max-width: none;
  }

  .history {
    justify-content: center;
  }

  .heroBtns {
    justify-content: center;
  }

  .heroImg img,
.lwFlexImg img {
  height: auto;
}


  .revText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .teamwork {
    flex-direction: column-reverse;
  }

  h2 {
    font-size: 40px;
    line-height: 40px;
    /* max-width: 100%; */
  }

  .featureContainer,
  .features {
    flex-direction: column;
  }

  .features {
    grid-template-columns: 1fr 1fr;
  }

  .feature {
    gap: 20px;
  }

  .bigFeature {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 50px;
    gap: 90px;
  }

  .bigFeatureImg {
    max-width: 150px;
    max-height: 150px;
  }

  .featureHeader {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
  }

  .AmazingText {
    width: 100%;
  }

  .AmazingText h2 {
    margin-bottom: 15px;
  }

  .AmazingImg {
    display: none;
  }
}

/* ------------------------- */
/* Medium to small screens*/
/* ------------------------- */

@media (max-width: 768px) {

  .hero,
  .Revolutionising,
  .loanDefaulters {
    flex-direction: column;
  }

  .loanDefaulters {
    flex-direction: column;
  }

  h2 {
    font-size: 31px;
    line-height: 45px;
    margin-bottom: 10px;
  }

  .teamwork {
    flex-direction: column-reverse;
  }

  .Revolutionising,
  .hero {
    flex-direction: column;
  }

  .featureContainer,
  .features {
    flex-direction: column;
  }

  .features {
    grid-template-columns: 1fr;
  }

  .bigFeature {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 50px;
    gap: 90px;
  }

  .bigFeature h3 {
    font-size: 42.5px;
    line-height: 63px;
    color: #fff;
  }

  .bigFeatureImg {
    max-width: 120px;
    max-height: 120px;
  }

  .heroText {
    margin-bottom: 30px;
  }
}


/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}