.main-wrapper{
padding: 60px;
height: 100%;
width: 100%;
}

.centerflex{
  display: flex;
  gap: 15px;
}

.left,.right{
  background-color:rgb(222, 252, 241);
  height: auto;
  padding:10px 0;
}

.left{
  width: 38%;
}

.right{
  width: 60%;
}

.img, .img img{
  width: 100px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 10px;
}

.flex{
  display: flex;
  margin-top: 20px;
  padding: 0 15px;
  font-size: 15px;
}
.flex h4{
  margin-right: 10px;
}
.flex p{
  margin-left: auto;
  text-align: right;
}

/* Nav Bar Styles */
.nav{
  display: flex;
  justify-content: space-between;
  border-bottom: solid 0.5px rgb(192, 247, 228);
  padding: 10px 30px;
  margin-bottom: 30px;
  font-weight: 500;
}

.nav a:visited{
  color: rgb(15, 197, 197);
  text-decoration: underline;
}