.container {
  padding: 0 63px;
}

/* ------------------ */
/* Header */
/* ------------------ */

header {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

.display {
  display: none;
}

.leftHeader,
.rightHeader {
  display: flex;
  align-items: center;
}

.leftHeader {
  gap: 24px;
}

.navlist {
  display: flex;
}

.logo {
  width: 140px;
}

ul {
  display: flex;
  padding: 0;
}

li {
  margin: 8px;
}

ul li a {
  color: black;
}

.active {
  border-bottom: 2px solid var(--primary-bg);
}

/* ------------------ */
/* Buttons */
/* ------------------ */

.filledBtn,
.transparentBtn {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.filledBtn {
  background-color: var(--primary-bg);
  color: #fff;
  padding: 19px 34px;
}

.filledBtn:hover {
  background: #02697f;
}

.transparentBtn {
  background: #fff;
  border: 1px solid var(--primary-bg);
  color: var(--primary-bg);
  padding: 16px 34px;
}

.transparentBtn:hover {
  background-color: var(--primary-bg);
  color: aliceblue;
  transition: all ease-in-out 0.02s;
}

.transparentBtn img:hover {
  fill: #fff;
}

.transparentBtn img {
  padding: 0;
  margin: 0;
}

.menuList {
  display: none;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 67px;
  right: 0;
  background-color: #fff;
  padding: 20px 30px;
  height: 400px;
  width: 50%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}

.menuList .register {
  color: var(--primary-bg);
}

.menuBtn {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.registerLogin {
  display: flex;
  align-items: center;
  gap: 20px;
}

.registerLogin a {
  /* padding: 16px; */
}

@media (max-width: 1000px) {
  /* ul a {
    display: block;
  } */

  .navlist {
    display: none;
  }

  .menuBtn {
    display: flex;
    align-items: center;
  }

  .menuIcon {
    color: black;
  }

  .menuList {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 80px;
    height: 300px;
  }

  ul a:nth-child(5),
  ul .filledBtn {
    display: none;
  }

  .rightHeader {
    gap: 20px;
  }
}

@media (max-width: 700px) {
  .menuBtn {
    display: flex;
    align-items: center;
  }

  .menuList {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
  }

  .navlist {
    display: none;
  }

  .registerLogin {
    display: none;
  }

  ul a:nth-child(5),
  ul .filledBtn {
    display: block;
  }
}