.container {
  padding: 0 63px;
}

/* ------------------ */
/* Header */
/* ------------------ */

.everyHeader{

}

header {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  position: sticky;
  left: 0;
  height: 92px;
}

.display {
  display: none;
}

.leftHeader,
.rightHeader {
  display: flex;
  align-items: center;
}

.leftHeader {
  gap: 24px;
}

.navlist {
  display: flex;
}

.logo {
  width: 140px;
}

ul {
  display: flex;
  padding: 0;
  font-size: 20px;
}

li {
  margin: 8px;
}

ul li a {
  color: black;
  font-size: 18px;
}

.active {
  text-decoration: underline var(--primary-bg);
}

/* ------------------ */
/* Buttons */
/* ------------------ */

.filledBtn,
.transparentBtn {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  white-space: nowrap;
  font-weight: 500;
}

.filledBtn {
  background-color: var(--primary-bg);
  color: #fff;
  padding: 18px 34px;
}

.filledBtn:hover {
  background: #02697f;
}

.transparentBtn {
  background: #fff;
  border: 1px solid var(--primary-bg);
  color: var(--primary-bg);
  padding: 14px 30px;
}

.transparentBtn a,
.filledBtn a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.transparentBtn:hover {
  background-color: var(--primary-bg);
  color: aliceblue;
  transition: all ease-in-out 0.02s;
}

.transparentBtn:hover img {
  filter: saturate(0%) brightness(10000%);
}

.transparentBtn img {
  padding: 0;
  margin: 0;
}

.menuList {
  display: none;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  padding: 20px 30px;
  height: 100vh;
  width: 50%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.menuList .register {
  color: var(--primary-bg);
}

.menuBtn {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.registerLogin {
  display: flex;
  align-items: center;
  gap: 20px;
}

.registerLogin a {
  /* padding: 16px; */
}

@media (max-width: 1000px) {
  /* ul a {
    display: block;
  } */

  .navlist {
    display: none;
  }

  .menuBtn {
    display: flex;
    align-items: center;
  }

  .menuIcon {
    color: black;
  }

  .menuList {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 80px;
  }

  ul a:nth-child(5),
  ul .filledBtn {
    display: none;
  }

  .rightHeader {
    gap: 20px;
  }

  .logo {
    width: 100px;
    cursor: pointer;
  }
}

@media (max-width: 700px) {
  .menuBtn {
    display: flex;
    align-items: center;
  }

  .menuList {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
  }

  .navlist {
    display: none;
  }

  .registerLogin {
    display: none;
  }

  ul a:nth-child(5),
  ul .filledBtn {
    display: block;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-6-18 22:37:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
