.otp_input-Content {
  display: flex;
  gap: 40px;
}

.Verify-btn-Content {
  margin: 28px 0;
}

.OTP-Content {
  text-align: center;
  margin-top: 68px;
}

.otp_input-items input {
  font-weight: 500;
  font-size: 80px;
  text-align: center;
  max-width: 146px;
  height: 168px;
  padding: 0 !important;
}

.otp_input-items input:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 768px) {
  .otp_input-Content {
    gap: 20px;
  }

  .otp_input-items input {
    max-width: 100px;
    height: 120px;
  }
}
