* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Urbanist';
    font-style: normal;

}
.table-wrapper{
    background: #FFFFFF;
     border: 1px solid #E6F2F5;
    box-shadow: 0px 4px 20px #E6F2F5;
    border-radius: 16px;
    padding: 18px;
  
}
.performance-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    
}
.performance-wrapper h3{
         font-weight: 600;
        font-size: 20px;
        line-height: 30px;
         color: #00151A;
}
.performance-wrapper  button{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 44px;
border:none;
background: #007E99;
border-radius: 5px;
color: #FFFFFF;
font-size: 17px;
cursor: pointer;
}
.table-wrapper table{
    width: 100%;
      margin-top: 13px;  
    border-collapse: collapse;
}
th, td{
    text-align: left;
    padding: 12px 10px;
}
th{
    font-weight: 600;
        font-size: 18px;
        line-height: 22px;
     color: #00151A;
    background-color: #E6F2F5;
        
}
td{
    font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #00151A;
}
.Active button, .Completed button, .Pending button, .Declined button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 4px 8px;
     border-radius: 16px;
    color: #FFFFFF;
    font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        
        
}
.Active button{
background: #17A937;
border: 1px solid #17A937;
}
.Declined button{
background: #FF2E2E;
border: 1px solid #FF2E2E;
}
.Completed button{
    background: #FD7123;
    border: 1px solid #FD7123;

}

.pagination{
    display: flex;
    justify-content: space-between;
}
.right-paginate{
    display: flex;
    align-items: center;
    justify-content: center;

}
.paginate-btn{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: black;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.button-active{
    
    background: #007E99;
    border: 1px solid #007E99;
    color: #FFFFFF;
    

}
.left-paginate li a{
    font-weight: 500;
        font-size: 15px;
        line-height: 24px;
        color: #007E99;
}
.paginate-img{
    width: 13px;
    height: 13px;
}
.paginate-dots{
    margin-bottom: 5px;
}
.page-fifty{
    font-weight: 600;
        font-size: 13.3px;
        line-height: 17px;
        
        color: #00151A;
}



