/* -----------dashboardheader---------- */
.dashboard-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background: #007e99;
  height: 80px;
  position: sticky;
  top: 0;
  width: 100%;
}
.dashboard-logo {
  height: 55px;
  margin: 0;
  padding: 0;
}

.dashboard-header-left {
  display: flex;
  align-items: center;
  gap: 70px;
  justify-content: space-between;
}

/* Back */

.dashboard-header-left .back {
  display: flex;
  align-items: center;
  gap: 8px;
  text-transform: capitalize;
  color: #fff;
}

.dashboard-header-left .back img {
  /* border: 1px solid black; */
  transform: rotate(90deg);
  background: #e6f2f5;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 10px;
}

.dashboard-head-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.profile-div {
  position: relative;
}
.profile {
  border-radius: 40px;
  width: 35px;
  height: 35px;
}
.num {
  background: #fd3b47;
  border-radius: 50px;
  width: 10px;
  height: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 10px;
  position: absolute;
  top: -4px;
  right: -7px;
  color: #fff;
  font-size: 10px;
}
.dash-user-name p {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #e6f2f5;
}
.dash-user-name p:last-child {
  padding-left: 6px;
}

/* -----------sidebar---------- */

.sidebar-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 24px 32px 32px;
  background: #007e99;
  position: sticky;
  left: 0;
  height: 100%;
}

.link-text {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 11px 13px;
  cursor: pointer;
  background: transparent;
}
.iconText {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
}
.dashboard-icon {
  width: 19px;
  height: 19px;
}
.active {
  width: 100%;
  background: #003f4d;
  border-radius: 4px;
}

.sidebar-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}

.sidebar-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  width: 100%;
}
/* -----------General-------------- */
.sub-menu {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  gap: 15px;
}

.sub-menu span {
  color: #fff;
  padding: 20px 3px;
  font-size: 15px;
  white-space: nowrap;
  /* background: #000; */
}

.general-wrapper > button {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #ffffff;
  padding: 11px 13px;
  font-size: 13px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.general {
  display: flex;
  align-items: center;
  gap: 80px;
}
.general-right {
  display: flex;
  align-items: center;
  gap: 15px;
}
.general-icon {
  width: 13px;
  height: 13px;
}
.general-icon-rotate {
  transform: rotate(90deg);
  width: 13px;
  height: 13px;
}

.sub-menu .submenu-active-1,
.submenu-active-2,
.submenu-active-3 {
  width: 100%;
  padding: 10px;
  align-items: flex-end;
  background-color: #7cc2d1;
  border-radius: 4px;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .dashboard-logo {
    height: 40px;
  }

  .iconText {
    display: none;
  }

  .general {
    gap: 10px;
  }

  .general-wrapper {
    text-align: center;
  }

  .sidebar-wrapper {
    padding-left: 2px;
    padding-right: 2px;
  }

  .sidebar-top,
  .sidebar-wrapper,
  .sidebar-bottom {
    align-items: center;
  }

  .general-wrapper .submenu-active-1,
  .submenu-active-2,
  .submenu-active-3 {
    width: auto;
  }

  .sub-menu span {
    padding: 10px 3px;
    font-size: 13px;
  }

  .sub-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .active {
    width: auto;
  }

  .dashboard-header-left {
    gap: 30px;
  }

  .dashboard-header-left .back span {
    display: none;
  }
}
