.toggleContainer h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #00191f;
}

.toggleContainer p {
  font-weight: 500;
  color: #55666a;
  line-height: 19px;
}

.toggleContainers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.toggleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 12px 0;
  background: #ffffff;
  border: none;
  color: #005466;
  box-shadow: 0px 4px 12px #e6f2f5;
  padding: 12px 16px;
  text-align: left;
  line-height: 480px;
  cursor: pointer;
}
