h3,
h4,
p {
  margin: 0;
}

p {
  color: #55666a;
}

/* ------------------ */
/* Description*/
/* ------------------ */
.userWrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 32px;
  margin-bottom: 20px;
}

.userDesc {
  margin: 20px auto;
  text-align: center;
  width: 60%;
}

.userDesc h3 {
  font-size: 41px;
  margin-bottom: 10px;
  color: #00151a;
  text-transform: capitalize;
}

.userDesc p {
  color: #55666a;
}

/* ------------------ */
/* Users */
/* ------------------ */

.user {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #aab2b4;
  margin: 0 auto;
  padding: 30px 18px 40px;
  gap: 16px;
}

.user:hover {
  border: 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
}

.user img:first-child,
.user p {
  margin-bottom: 16px;
  text-align: center;
}

.user h4 {
  font-weight: 600;
  font-size: 25px;
  line-height: 36px;
  text-align: center;
  color: #00151a;
}

.user a {
  /* padding: 10px 30px; */
  display: flex;
  align-items: center;
  gap: 20px;
  white-space: nowrap;
}

.user button:hover img {
  filter: saturate(0%) brightness(10000%);
}

.user .userBtn{
  justify-self: flex-end;
}

.user button {
  padding: 10px 30px;
}

@media (max-width: 1000px) {
  .userDesc {
    margin: 20px auto;
    text-align: center;
    width: 90%;
  }
}

@media (max-width: 768px) {
  .userDesc {
    width: 95%;
  }

  .userDesc h3 {
    font-size: 31px;
  }
}