:root {
  --primary-bg: #007e99;
}

* {
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Urbanist", sans-serif;
}

/* ------------------ */
/* General */
/* ------------------ */

a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

/* ------------------ */
/* Container */
/* ------------------ */

.container {
  padding: 0 63px;
}

section {
  margin-bottom: 50px;
  /* border: 1px solid black; */
}

@media (max-width: 768px) {
  .container {
    padding: 0 32px;
  }
}
