.otp_input-Content{
    display: flex;
    justify-content: center;
}
.otp_input-items{
    margin: 18px;
    
}
.otp_input{
font-weight: 600;
font-size: 32px;
text-align: center;
}
.Verify-btn-Content{
    margin: 28px 0;
}
.OTP-Content{
    text-align: center;
    margin-top: 68px;
}