.container,
.vision-section {
  /* font-family: "Outfit", sans-serif;
  font-family: "Roboto", sans-serif; */
  width: 90%;
  margin: auto;
}
.hero-2 {
  text-align: center;
  margin-top: 60px;
}

.hero-2 h2 {
  font-weight: 700;
  letter-spacing: 0em;
  margin-bottom: 8px;
}

.team-statement {
  margin: 0 auto 20px auto;
  font-size: 10px;
  width: 37.5%;
  font-weight: 500;
  color: #55666a;
}

.grid {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 50px;
  font-size: 12px;
}

.person-profile {
  padding-top: 20px;
  padding-bottom: 10px;
  border: 1px solid #aab2b4;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}
.position {
  margin-bottom: -10px;
}
.image {
  width: 96px;
  height: 96px;
}
.learn-more {
  color: #006980;
  border: 1px solid #006980;
  padding: 5px;
  text-decoration: none;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.vision-section {
  height: 500px;
  display: flex;
  margin-top: 80px;
  gap: 8%;
}
.get-Started {
  flex: 1;
  margin-top: 100px;
}
.frame {
  flex: 1;
}
.loan-analysis {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  border-radius: 10px;
  background: linear-gradient(
      211.54deg,
      rgba(0, 126, 153, 0.5) 6.43%,
      rgba(0, 126, 153, 0.91) 23.31%,
      rgba(0, 126, 153, 0.85) 33.02%,
      rgba(0, 126, 153, 0.91) 50.92%,
      rgba(0, 126, 153, 0.5) 71.37%,
      rgba(0, 126, 153, 0.520203) 84.15%,
      rgba(0, 126, 153, 0.5) 92.33%
    ),
    conic-gradient(
      from 180deg at 50% 50%,
      rgba(0, 126, 153, 0.68) 0deg,
      rgba(0, 126, 153, 0.49) 360deg
    );
}
.loan-analysis img {
  height: 90%;
  width: 90%;
}
.annual-revenue {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -92%;
  right: 38%;
}
.annual-revenue img {
  height: 150px;
}
.get-Started h3 {
  font-weight: bold;
}
.get-Started button {
  padding: 10px 15px;
  font-weight: 400;
  color: #ffffff;
  background-color: #007e99;
  border-radius: 5px;
  border: none;
}
.get-Started p {
  font-weight: 500;
  font-size: 14.8px;
  color: rgba(0, 0, 0, 1);
  margin-top: -10px;
}
#loan-overview {
  position: relative;
}
.risk-prediction {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: -225%;
  right: 80%;
  gap: 380px;
}
.risk-prediction img {
  height: 140px;
  width: 140%;
}
#mission {
  gap: 6%;
}
.team1 h2 {
  margin-top: -10px;
}
.team1 p {
  width: 50%;
}
