.Comming{
    /* background-image: url("../../Images/socials/background.svg") no-repeat; */
  background-size:cover;
  overflow: hidden;
  min-height: 100vh;
  background-position: center; 
  background-size: cover; 
  overflow-x: hidden;
    justify-content:center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.side-btn{
    width:100%;
    
}

.side{
    display:flex;
}

.Comming h1{
    font-size: 70px;
    padding-bottom: 12px;
}

.Comming p{
    line-height: 25px;
    font-size: 20px;
    color: black;
    padding-bottom: 12px;
}